
<h1 class="wellcome">Bienvenido a Shopéame</h1>

<p class="intro">¿Qué es Shopéame?</p>
<p class="text">Do you want a jelly baby? Don't be sad Grace. 
    You'll do great things. Jamie, remind me to give you a lesson in tying knots, 
    sometime. This thing is smaller on the inside than it is on the outside. 
    Life depends on change and renewal. My ship…my TARDIS… Oh my word! 
    Dreams are important…never underestimate them. I am the Doctor! The original, 
    you might say! Oh I'm so sorry, Jamie. Would you like a jelly baby? Goodbye... 
    Fancypants! I don't like it. Courage isn’t a matter of not being frightened, 
    it’s being afraid and doing what you have to do anyway.</p>

<p class="intro">¿Para qué puedo usar Shopéame?</p>
<p class="text">Look at me. No plans, no backup, no weapons worth a damn. 
    Oh, and something else I don't have: anything to lose. So, if you're sitting 
    up there with your silly little spaceships and your silly little guns 
    and you've any plans on taking the Pandorica tonight; just remember 
    who's standing in your way. Remember every black day I ever stopped 
    you and then, and then, do the smart thing. Let somebody else try first. 
    I need...I need...I need... fish fingers and custard! Bow ties are cool. 
    Yes, well, it's a brilliant noise. I love that noise.</p>

<p class="intro">¿Quienes hacemos Shopéame?</p>
<p class="text">Nine hundred years of time and space, and I've never been 
    slapped by someone's mother. Fantastic! You look beautiful! ...considering. 
    That you're human. The past is another country. 1987's just the Isle of Wight.
     We're fallin' through space, you and me, clinging to the skin of this tiny 
     little world, and if we let go... t's called the TARDIS, this thing. 
     T-A-R-D-I-S. That's Time And Relative Dimension In Space. That’s okay. 
     Culture shock. Happens to the best of us. An old friend of mine. Well, enemy. 
     The stuff of nightmares reduced to an exhibit. I'm getting old. </p>

<p class="intro">¿Es seguro usar Shopéame?</p>
<p class="text">There was a war. A Time War. The Last Great Time War. 
    My people fought a race called the Daleks, for the sake of all creation. 
    And they lost. We lost. Everyone lost. They're all gone now. My family. 
    My friends. Even that sky. Don't you think she looks tired? Goodbye...my 
    Sarah Jane! What? What?! WHAT?! I'll tell you what, then: don't...step on 
    any butterflies. What have butterflies ever done to you? New-new-Doctor. 
    I'm the Doctor, I can save the world with a kettle and some string! 
    And look! I'm wearing a vegetable! </p>