<input  type="text" class="search" [(ngModel)]="searchText" 
    placeholder="¿Qué estás buscando?">
<p>{{ searchText }}</p>
<h1>Listado de Productos</h1>


<div class="describ">
    <!-- | search: searchText -->
        <article *ngFor="let product of products">
            <div class="describ__productDetail">
                <img class="describ__productDetail--img" src="{{ product.image }}">
                <a class="describ__productDetail--name">{{ product.name }}</a>
                <a class="describ__productDetail--detail">{{ product.description }}</a>
                <a class="describ__productDetail--price">{{ product.price }}€</a>
            </div>
        </article>
        
    
</div>
